#title{
  width: 50%;
  font-size: 12px;
}

#question{
  width: 50%;
}

#code{
  max-height: 200px;
  border-radius: 2px;
  border: 1px solid gray;
  margin-bottom: 5px;
  background: #e8e8e8;
  overflow:auto;
  resize: both;
  width: auto;

}

#container{
  font-size: 12px;
}

#answer {
  font-size: 12px;
}

hr {
  width: 50%;
}

#related_question hr {
  margin-left: 5px;
  margin-right: 5px;
  width: 98%;
}

#related_question {
  padding: 1px;
  font-size: 12px;
  text-align: left;
  width: 40%;
  margin-left: 800px;
  margin-top: -370px;
  border-radius: 2px;
  border: 1px solid lightgray;
  overflow:auto;
  max-height: 400px;
}

#related {
  margin-left: 20px;
}
