#logo {
  margin-top: 40px;
  text-align: center;
}

#options {
  text-align: right;
  margin-right: 325px;
}
#topTags select {
  margin-left: 100px;
  margin-right: 330px;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid lightgray;
  color:gray;
}

#topTags{
  text-align: right;
}

#topTags input {
  display:none;
}

#topTags input:checked ~ label {
  border: 1px solid #bcbcbc;
  background-color: #e2e2e2;

}

#topTags input ~ label {
  margin-left: 5px;
  padding: 5px;
  border: 1px solid lightgray;
  font-size: 12px;
  border-radius: 10px;
  background-color: white;
  color: gray;
  font-size: 15px;

}

#topTags input:hover ~ label {
  background: #e8e8e8;
}

#searchBar {
  text-align: center;
}
#searchBar input {
  margin-bottom: 10px;
  margin-top: 50px;
  width: 50%;
  padding: 6px;
  border: 1px solid lightgray;
  font-size: 17px;
  border-radius: 10px;
}

#searchBar2 input {
  margin-left: 50px;
  margin-top: 50px;
  width: 50%;
  padding: 6px;
  border: 1px solid lightgray;
  font-size: 17px;
  border-radius: 10px;
  input:focus {outline:none;}
}

#resultList {
  margin-left: 50px;
  width: 25%;
}

#link {
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 0px;
  color: green
  a:lin
}

#description {
  margin-left: 0px;
}

#title{
  font-size: 125%;
}

#link a:link{
    color: green;
    text-decoration: none;
}


#link a:visited{
    color: green;
    text-decoration: none;
}

#pagination {
  display: inline-block;
}

#pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

#pagination a.active {
  background-color: #4CAF50;
  color: white;
  border-radius: 5px;
}

#pagination a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 5px;
}
