  <!DOCTYPE html>
  <html lang="en">
  <head>
    {% csrf_token %}
    {% load static %}
    {% if tag_list %}

    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>
  </head>

  <body>
    <form method="GET" action="query">

    <div id="logo">
      <img src="../static/logo.png" class="center">
    </div>

    <div id="searchBar">
        <input type="text" name="queryField" placeholder= "Search...">
        <button type="Search"></button>



    </div>
    <div id="topTags">
      <input type="hidden" name="tagInput" class="tagInputClass">
      {% for tagOne, tagTwo, tagThree, tagFour, tagFive in tag_list %}
      <span><input type="checkbox" name="tOne" id="tagOne" value="{{ tagOne }}"><label for="tagOne"> {{tagOne}} </label></span>
      <span><input type="checkbox" name="tTwo" id="tagTwo" value="{{ tagTwo }}"><label for="tagTwo"> {{tagTwo}} </label></span>
      <span><input type="checkbox" name="tThree" id="tagThree" value="{{ tagThree }}"><label for="tagThree"> {{tagThree}} </label></span>
      <span><input type="checkbox" name="tFour" id="tagFour" value="{{ tagFour }}"><label for="tagFour"> {{tagFour}} </label></span>
      <span><input type="checkbox" name="tFive" id="tagFive" value="{{ tagFive }}"><label for="tagFive"> {{tagFive}} </label></span>
      {% endfor %}
      {% else %}
      <p>No tags available.</p>
      {% endif %}

    <select name="optionSelector" class ="optionSelectorSearch">
          <option value="relevance">Sort by relevance</option>
          <option value="question">Sort by question</option>
          <option value="answer">Sort by answer</option>
          <option value="newest">Sort by newest</option>
          <option value="votes">Sort by votes</option>
        </select>
    </div>
  </form>


  </body>

  </html>
