<!DOCTYPE html>
<html lang="en">
<head>
  {% csrf_token %}
  {% load static %}
  {% if question_list %}
  {% if related_question_list %}


  <link rel="stylesheet" type="text/css" href="{% static 'pageStyle.css' %}">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

</head>
<body>
  <div id="container" class="w3-container">
    {% for title, question, code in question_list %}
  <div id="page">
    <div id="title"><h4>{{title}}</h4></div>
  <hr align="left" />
    <div id="question"><p>{{question}}</p>
    <div id="code">
      <pre><code>{{code}}
    }</code></pre>
      </div>
      {% endfor %}
      {% else %}
      <p>No tags available.</p>
      {% endif %}
  </div>


  <div id="related_question">
    <div id="related"><h5>Related Questions</h5></div>
    <hr align="left"/>
      <dl>
        {% for link, title in related_question_list %}
        <dd id="link"><a href="{{link}}">{{title}}</a>
          {% endfor %}
          {% else %}
          <p>No tags available.</p>
          {% endif %}
  </dd>
      </dl>
  </div>


</div>

</div>
<div id="answer" class="w3-container">
  <div id="answer"><h5>Answer</h5></div>
  <hr align="left"/>
  {% for answer in answer_list %}
  <div id="answer">{{answer}}<p></p>
  </div>
  <hr align="left"/>
  {% endfor %}

</div>






</body>

</html>
